# Required Environment Variables

# The absolute or relative path to the root folder containing the question bank.
# Ensure this folder structure follows: Root/Subject/Module/questions.json
ROOT_FOLDER_PATH=./mock_data

# The database connection string.
# Default is sqlite:///<project-root>/data/study_data.db
DATABASE_URL=sqlite:///data/study_data.db
